.transactions {
  font-size: 2em;

  li:nth-child(even) {
    background-color: #efefef;
  }

  .credit i {
    color: #468847;
  }

  .debit i {
    color: #d9534f;
  }

  .date {
    float: right;
    color: #555;
  }
}
