.transactions {
  font-size: 2em;

  li:nth-child(even) {
    background-color: #efefef;
  }

  .credit i {
    color: $success-color;
  }

  .debit i {
    color: $failure-color;
  }

  .date {
    float: right;
    color: #555;
  }
}
